@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: white;
  --fg-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: black;
    --fg-color: white;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
}
